@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap");
.imagenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagenContainer img {
  margin: 20px;
  width: 400px;
  height: 300px;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}
.imagenContainer img:hover {
  transform: scale(1.1);
}

.navBarra {
  background-color: #333;
  height: 50px;
}

.ulBarra {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.liBarra {
  float: left;
}

.liBarra a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.liBarra a:hover {
  background-color: #111;
}

@media screen and (max-width: 768px) {
  .ulBarra {
    flex-direction: column;
    align-items: stretch;
  }
  .liBarra {
    margin-bottom: 0.5rem;
    float: none;
  }
  .liBarra a {
    padding: 0.5rem;
  }
}
body {
  font-family: "Roboto", sans-serif;
  background-color: aqua;
}

/*mixin*/
a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.margenImagen {
  margin: 10px;
}

@media screen and (min-width: 992px) {
  .margenImagen {
    margin: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .margenImagen {
    margin: 15px;
  }
}
@media screen and (max-width: 767px) {
  .margenImagen {
    margin: 5px;
  }
}
h1 {
  background-color: red;
  color: white;
  font-size: 2rem;
  text-align: center;
}

h2 {
  background-color: #1d2671;
  font-size: xx-large;
  color: white;
}

footer {
  background-color: black;
  font-size: small;
}
footer h3 {
  color: white;
}
footer p {
  color: white;
}

.mapa {
  display: flex;
  justify-content: center;
}

.bordeFooter {
  border: 1px solid black;
  text-align: center;
}

.bordeFooter ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px;
}

input {
  margin: 10px;
}

textarea {
  margin: 10px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #111;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px;
}

input {
  margin: 10px;
}

textarea {
  margin: 10px;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: gray;
}

.formulario {
  display: flex;
  justify-content: center;
  background-color: cornflowerblue;
}

.botonWhatsapp img {
  width: 70px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 360px) {
  h1 {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
