$color_1: white;
$background-color_1: #333;
$background-color_2: #111;

.navBarra {
	background-color: $background-color_1;
	height: 50px;
}
.ulBarra {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.liBarra {
	float: left;
	a {
		display: block;
		color: $color_1;
		text-align: center;
		padding: 16px;
		text-decoration: none;
		&:hover {
			background-color: $background-color_2;
		}
	}
}